/*Variable color*/
/*Variables tipografias*/
/*Variable sombras*/
/*for all pages*/
.container-fluid {
  padding-left: 0;
  padding-right: 0; }

* {
  margin: 0;
  padding: 0; }

/*header*/
.contenedorHeader {
  background-color: #E6332A;
  width: 100%;
  height: 40px; }
  .contenedorHeader .Bienvenidos {
    font-family: "Open Sans SemiBold", sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center; }

.busqueda {
  padding: 30px; }
  .busqueda #botonbusqueda {
    font-family: "Open Sans SemiBold", sans-serif;
    font-size: 15px;
    color: #57B89A;
    border-color: #1F5458; }
    .busqueda #botonbusqueda:hover {
      font-family: "Open Sans SemiBold", sans-serif;
      font-size: 15px;
      color: white;
      border-color: #57B89A;
      background-color: #1F5458; }

/*nav*/
nav {
  background-color: white; }
  nav #Navegador {
    margin-left: 15px; }
    nav #Navegador .navbar-toggler {
      border-color: white;
      color: white; }
      nav #Navegador .navbar-toggler:focus {
        box-shadow: 0; }

#navbarNavDropdown {
  justify-content: right; }
  #navbarNavDropdown .nav-link .active {
    color: #57B89A;
    font-weight: 600; }
  #navbarNavDropdown .nav-item {
    padding: 0px 20px; }
    #navbarNavDropdown .nav-item .nav-link {
      color: #E6332A;
      text-decoration: none;
      font-size: 20px; }
      #navbarNavDropdown .nav-item .nav-link:hover {
        color: #57B89A;
        font-weight: 600; }

.button:focus:not(:focus-visible) {
  outline: 0; }

.navbar-toggler:focus {
  text-decoration: none; }

/*footer*/
a {
  text-decoration: none; }

#footergrande {
  background-color: #57B89A; }
  #footergrande .navegadorFooter {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center; }
    #footergrande .navegadorFooter .textonavegador {
      font-family: "Open Sans SemiBold", sans-serif;
      font-size: 15px;
      color: #FFFFFF; }
  #footergrande .linefooter {
    line-height: 1.5px;
    color: #FFFFFF; }
  #footergrande .parrafoFooter {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px; }
  #footergrande .fab, #footergrande .far {
    color: #ffffff; }
  #footergrande .iconoredes {
    font-size: 30px;
    padding: 10px; }
  #footergrande .Copyright {
    background-color: #1F5458;
    text-align: center; }

/*mainindex*/
.banner1 {
  padding-bottom: 40px; }

.carousel-item {
  margin-right: 0; }

.tituloIndex {
  font-family: "Open Sans SemiBold", sans-serif;
  font-size: 20px;
  color: #E6332A;
  margin-bottom: 15px; }

.textoIndex {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #000000;
  margin-bottom: 25px; }

.indexfotos {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  margin-bottom: 30px; }
  .indexfotos:hover {
    transform: scale(1.2); }

/*mainproductos*/
.gif {
  background-color: #57B89A;
  margin-bottom: 50px; }

.cardproducto {
  margin-bottom: 30px;
  border: none; }
  .cardproducto:hover {
    transform: scale(1.1); }
  .cardproducto .card-text {
    height: 30px;
    color: #E6332A;
    font-family: "Open Sans SemiBold", sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: 5px; }

#fotosproducto {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 10px; }

/*mainrecetas*/
.cardreceta {
  border-color: #57B89A;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px; }
  .cardreceta:hover {
    transform: scale(1.1); }

.recetaTitulo {
  color: #E6332A;
  font-family: "Open Sans SemiBold", sans-serif;
  font-size: 15px; }

#botonreceta {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #57B89A;
  border-color: #1F5458;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); }
  #botonreceta:hover {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: white;
    border-color: #57B89A;
    background-color: #1F5458; }

.Cookie {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px; }

.nombreReceta {
  color: #E6332A;
  font-family: "Open Sans SemiBold", sans-serif;
  font-size: 20px; }

.Subtituloreceta {
  color: #57B89A;
  font-family: "Open Sans SemiBold", sans-serif;
  font-size: 15px; }
  .Subtituloreceta .Ingredientes {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    list-style: circle; }
  .Subtituloreceta .Receta {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px; }

/*mainnosotros*/
.Banner2 {
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0; }

.Nosotros {
  color: #E6332A;
  font-family: "Open Sans SemiBold", sans-serif;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px; }

.Nosotrostext {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify; }

/*maincontacto*/
.Contact {
  color: #E6332A;
  font-family: "Open Sans SemiBold", sans-serif;
  font-size: 20px; }

.formtext {
  font-family: "Open Sans SemiBold", sans-serif;
  font-size: 15px;
  margin-top: 15px; }

.formboton {
  font-family: "Open Sans SemiBold", sans-serif;
  font-size: 15px;
  color: #57B89A;
  border-color: #1F5458;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); }
  .formboton:hover {
    font-family: "Open Sans SemiBold", sans-serif;
    font-size: 15px;
    color: white;
    border-color: #57B89A;
    background-color: #1F5458; }

/*xsmall*/
@media only screen and (max-width: 480px) {
  .contact {
    font-size: 15px; } }
