/*Variable color*/

$color-acento: #1F5458;
$color-secundario: #E6332A;
$color-primario: #57B89A;

/*Variables tipografias*/
$font-primaria: 'Open Sans SemiBold', sans-serif;
$font-secundaria: 'Open Sans', sans-serif; 
$font-sizeprimaria: 20px;
$font-sizesecundaria: 15px;

/*Variable sombras*/

$sombra-1: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
