/*Variable color*/

$color-acento: #1F5458;
$color-secundario: #E6332A;
$color-primario: #57B89A;

/*Variables tipografias*/
$font-primaria: 'Open Sans SemiBold', sans-serif;
$font-secundaria: 'Open Sans', sans-serif; 
$font-sizeprimaria: 20px;
$font-sizesecundaria: 15px;

