@import "variables.scss";

/*for all pages*/
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
  
* {
    margin: 0;
    padding: 0;
}
/*header*/
@mixin titulos ($fuente, $tamanofuente, $color){
  font-family: $fuente;
  font-size: $tamanofuente;
  color:$color
}
.contenedorHeader {
    background-color: $color-primario;
    width: 100%;
    height: 40px;

    .Bienvenidos {
        @include titulos( $font-primaria, $font-sizesecundaria, #FFFFFF);
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        }
}

@mixin boton ($font, $fsize, $fcolor, $borderc) {
  font-family: $font;
  font-size: $fsize;
  color: $fcolor;
  border-color: $borderc;
}
.busqueda {
    padding: 30px;
    #botonbusqueda {
      @include boton ( $font-primaria, $font-sizesecundaria, $color-primario, $color-acento );
         
        &:hover {
          @include boton ( $font-primaria, $font-sizesecundaria, white, $color-primario );
          background-color: $color-acento;
        }
    }
}
  
/*nav*/
nav{
  background-color: white;
  #Navegador{
    margin-left: 15px;
       .navbar-toggler{
        border-color: white;
        color: white;

        &:focus{
        box-shadow: 0
      }
    }
  }
}

#navbarNavDropdown{
justify-content: right;
 
   .nav-item{
     padding: 0px 20px;

     .nav-link{
      color: $color-secundario;
      text-decoration: none;
      font-size: $font-sizeprimaria;
    
      &:hover{
        color:$color-primario;
        font-weight: 600;
      }
     }
     .active{
      color:$color-primario;
      font-weight: 600;
    }
    }
}

.button:focus:not(:focus-visible) {
    outline: 0;
}
  
.navbar-toggler:focus {
    text-decoration: none;
}

/*footer*/
a{
  text-decoration: none;
}
#footergrande {
    background-color:$color-primario;

    .navegadorFooter {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        .textonavegador {
            font-family: $font-primaria;
            font-size: $font-sizesecundaria;
            color: #FFFFFF;

            &:hover{
              color: $color-acento;
            }
        }  
        .active{
          color: $color-acento;
        }
    } 
    .linefooter {
            line-height: 1.5px;
            color: #FFFFFF;
    }
    .parrafoFooter {
            font-family: $font-secundaria;
            font-size: $font-sizesecundaria;
            color: #FFFFFF;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left:15px;
            padding-right:15px;
            padding-bottom: 10px
    }
    .fab, .far {
            color: #ffffff;
    }
          
    .iconoredes {
            font-size: 30px;
            padding: 10px;
    }
    .Copyright {
            background-color: $color-acento;
            text-align: center;
    }
}
 
  /*mainindex*/
.banner1 {
    padding-bottom: 40px;
}
.carousel-item{
    margin-right:0
  }
.tituloIndex{
  @include titulos( $font-primaria, $font-sizeprimaria, $color-secundario);
  margin-bottom: 15px;
}
.textoIndex{
  @include titulos( $font-secundaria, $font-sizesecundaria, #000000);
  margin-bottom: 25px;
}

.indexfotos {
    box-shadow: $sombra-1;
    padding: 10px;
    margin-bottom: 30px;
    
    &:hover {
      transform: scale(1.2);
    }
}
  
  /*mainproductos*/
  
.gif {
    background-color: $color-primario;
    margin-bottom: 50px;
}
.cardproducto {
    margin-bottom: 30px;
    border: none;
  
      &:hover {
      transform: scale(1.1);
      } 
    .card-text {
        height: 30px;
        color: $color-secundario;
        font-family: $font-primaria;
        font-size: $font-sizesecundaria;
        text-align: center;
        margin-top: 5px;
      }     
}
#fotosproducto{
  box-shadow: $sombra-1;
  padding: 10px;
}
  
/*mainrecetas*/
.cardreceta {
    border-color: $color-primario;
    box-shadow: $sombra-1;;
    border-radius: 5px;

        &:hover {
        transform: scale(1.1);
        } 
  }

.recetaTitulo {
    color: $color-secundario;
    font-family: $font-primaria;
    font-size: $font-sizesecundaria;
}

#botonreceta {
    @include boton ( $font-secundaria, $font-sizesecundaria, $color-primario, $color-acento );
    border-radius: 5px;
    box-shadow: $sombra-1;
  
    &:hover {
      @include boton ( $font-secundaria, $font-sizesecundaria, white, $color-primario );
      background-color: $color-acento;
    }
}   
.Cookie {
    box-shadow: $sombra-1;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px
}
 
.nombreReceta{
    color: $color-secundario;
    font-family: $font-primaria;
    font-size: $font-sizeprimaria;       
}
.Subtituloreceta{ 
  color: $color-primario;
  font-family: $font-primaria;
  font-size: $font-sizesecundaria;
  
    .Ingredientes {
      color: #000000;
      font-family: $font-secundaria;
      font-size: $font-sizesecundaria;
      list-style: circle;
    }
    .Receta {
      color: #000000;
      font-family: $font-secundaria;
      font-size: $font-sizesecundaria;
      margin-left: 20px;
      margin-right: 20px;
    }
}
  /*mainnosotros*/
  
.Banner2 {
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}
  
.Nosotros {
    color: $color-secundario;
    font-family: $font-primaria;
    font-size: $font-sizeprimaria;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
  
.Nosotrostext {
    color: #000000;
    font-family: $font-secundaria;
    font-size: $font-sizesecundaria;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}
  
  /*maincontacto*/
  
.Contact {
    color: $color-secundario;
    font-family: $font-primaria;
    font-size: $font-sizeprimaria;
}
  
.formtext {
    font-family: $font-primaria;
    font-size: $font-sizesecundaria;
    margin-top: 15px;
}
  
.formboton {
    @include boton ( $font-primaria, $font-sizesecundaria, $color-primario, $color-acento );
    border-radius: 5px;
    box-shadow: $sombra-1;
  
    &:hover {
      @include boton ( $font-primaria, $font-sizesecundaria, white, $color-primario );
      background-color: $color-acento;
    }
}
  
  /*xsmall*/
@media only screen and (max-width: 480px){
  .contact{
    font-size: 15px;
  }
}
.body {
  overflow-x:hidden
} 